@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './flex.scss';
body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    //   font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

// main-container global css
.app-container {
    padding: 20px;
}

.content-spacing {
    margin: 10px 0 10px;
}

.font-el {
    font-size: 20px;
}

.font-l {
    font-size: 18px;
}

.font-m {
    font-size: 16px;
}

.font-s {
    font-size: 14px;
}

.font-es {
    font-size: 13px;
}

.font-exs {
    font-size: 12px;
}

.color-danger {
    color: $danger;
}

.color-info {
    color: $info;
}

.color-primary {
    color: $primary;
}

.color-success {
    color: $success;
}

//
.bg-warning {
    background-color: $warning;
}

.bg-danger {
    background-color: $danger;
}

.bg-info {
    background-color: $info;
}

.bg-primary {
    background-color: $primary;
}

.bg-success {
    background-color: $success;
}

.bg-warning {
    background-color: $warning;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.el-table-header {
    color: #000;
}


/*!*滚动条样式*!*/


/*  ::-webkit-scrollbar {*/


/*    width: 1px;*/


/*    height: 1px;*/


/*}*/


/*   ::-webkit-scrollbar-thumb {*/


/*    border-radius: 10px;*/


/*    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);*/


/*    background: rgba(0, 0, 0, 0.2);*/


/*}*/


/*    ::-webkit-scrollbar-track {*/


/*    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);*/


/*    border-radius: 0;*/


/*    background: rgba(0, 0, 0, 0.1);*/


/*}*/

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, .1);
}

// ::-webkit-scrollbar-track-piece:no-button {}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-button:vertical {
    width: 9px;
}

::-webkit-scrollbar-button:horizontal {
    width: 9px;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background-color: #cccccc;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background-color: #cccccc;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background-color: #cccccc;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background-color: #cccccc;
}

.ml {
    margin-left: 10px;
}

.p-20 {
    padding: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.nickName {
    color: #e8971d;
}