@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './flex.scss';
@import './margin.scss';
@import './padding.scss';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    //   font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

* {
    touch-action: none;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

ol,
ul {
    list-style: none;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

// main-container global css
.app-container {
    padding: 20px;
}

.content-spacing {
    margin: 10px 0 10px;
}

.font-el {
    font-size: 20px;
}

.font-l {
    font-size: 18px;
}

.font-m {
    font-size: 16px;
}

.font-s {
    font-size: 14px;
}

.font-es {
    font-size: 13px;
}

.font-exs {
    font-size: 12px;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-900 {
    font-weight: 900;
}

.font-no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-danger {
    color: $danger;
}

.color-info {
    color: $info;
}

.color-primary {
    color: $primary;
}

.color-success {
    color: $success;
}

.wx-color {
    color: #5ec75d;
}

.other-color {
    color: #eda150;
}

//
.bg-warning {
    background-color: $warning;
}

.bg-danger {
    background-color: $danger;
}

.bg-info {
    background-color: $info;
}

.bg-primary {
    background-color: $primary;
}

.bg-success {
    background-color: $success;
}

.bg-warning {
    background-color: $warning;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-over-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.el-table-header {
    color: #000;
}


/*!*滚动条样式*!*/


/*  ::-webkit-scrollbar {*/


/*    width: 1px;*/


/*    height: 1px;*/


/*}*/


/*   ::-webkit-scrollbar-thumb {*/


/*    border-radius: 10px;*/


/*    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);*/


/*    background: rgba(0, 0, 0, 0.2);*/


/*}*/


/*    ::-webkit-scrollbar-track {*/


/*    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);*/


/*    border-radius: 0;*/


/*    background: rgba(0, 0, 0, 0.1);*/


/*}*/


/*
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, .1);
}

// ::-webkit-scrollbar-track-piece:no-button {}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-button:vertical {
    width: 9px;
}

::-webkit-scrollbar-button:horizontal {
    width: 9px;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background-color: #cccccc;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background-color: #cccccc;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background-color: #cccccc;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background-color: #cccccc;
}
*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .3);
    border-radius: 3px;
}

.ml {
    margin-left: 10px;
}

.p-20 {
    padding: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.user-select-none {
    user-select: none;
}

.nickName {
    color: #e8971d;
}

.el-form-item__label {
    user-select: none;
}